@import url("./reset.css");

@import url('https://fonts.googleapis.com/css2?family=Cormorant+Infant:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Noto+Sans+KR:wght@100..900&display=swap');

.cormorant-infant-medium {
    font-family: "Cormorant Infant", serif;
    font-weight: 500;
    font-style: normal;
}
.cormorant-infant-bold {
    font-family: "Cormorant Infant", serif;
    font-weight: 700;
    font-style: normal;
}
.noto-sans-kr-Regular {
    font-family: "Noto Sans KR", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
.noto-sans-kr-Midium {
    font-family: "Noto Sans KR", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.button a{
        display: flex;
        gap: 0.4rem;
}

/* menu transition */
.menu{
    display: flex;
    flex-direction: column;
    width: 40px;
}
.stick{
    background-color: #111111;
    width: 32px;
    height: 3px;
    border-radius: 3px;
}
.stick:nth-child(1){
    transform-origin: 1px 2px;
}
.stick:nth-child(2){
    transform-origin: 50% 50%;
    margin-top: 8px;
}
.stick:nth-child(3){
    transform-origin: 0 1px;
    margin-top: 8px;
}

.transition .stick{
    transition: all 0.3s;
}
.transition.close .stick:nth-child(1){
    transform: rotate(45deg);
    width: 32px;
}
.transition.close .stick:nth-child(2){
    transform: scale(0.01);
}
.transition.close .stick:nth-child(3){
    transform: rotate(-45deg);
    width: 32px;
}


    /* menu */
.menu-box{
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 100%;
    background: #ffffff;
    z-index: 99;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    overflow: hidden;
}
.main-box{
    margin-top: 7.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    font-family: "Cormorant Infant", serif;
    font-weight: 700;
    font-size: 2rem;
    color: #2DA0FA;
}
.sub-box{
    display: flex;
    justify-content: space-between;
    padding: 1rem 5rem;
    font-family: "Cormorant Infant", serif;
    font-weight: 500;
    font-size: 1.25rem;
    color: #4F4F4F;
}
    /* /menu */


    /* header */
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    z-index: 999;
}
header .container{
    max-width: 1780px;
    height: 100%;
    padding: 0 1rem;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .nav-logo img{
    width: 40px;
}
header h1 .logo-name{
    display: block;
    width: 1px;
    height: 1px;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
}

header .nav-menu{
    display: flex;
    gap: 3rem;
    font-family: "Cormorant Infant", serif;
    font-weight: 500;
    font-size: 1.125rem;
}
header .nav-menu .pick{
    font-weight: 700;
    color: #2DA0FA;
}

header .nav-info{
    display: flex;
    gap: 1rem;
}
header .nav-info a{
    font-family: "Cormorant Infant", serif;
    font-weight: 500;
    font-size: 1rem;
    color: #767676;
}

header .nav-icon{
    display: none;
}
    /* /header */


    /* main */
.main{
    width: 100%;
    margin-top: 7.5rem;
    margin-bottom: 13.75rem;
}
.main .container{
    max-width: 1780px;
    height: 100%;
    padding: 0 1rem;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2.5rem;
}

.main-left{
    display: flex;
    align-items: center;
    gap: 2.5rem;
}

.main .main-text h2{
    margin-bottom: 2.5rem;
}
.main .main-text p{
    width: 280px;
    margin-bottom: 2.5rem;
    letter-spacing: -0.02em;
    line-height: 170%;
}

.main-right{
    display: flex;
    padding-right: 8.75rem;
    position: relative;
}

.main-right .img-3{
    position: absolute;
    top: 208px;
    right: 0;
}

    /* /main */


    /* section-1 */
.section-1{
    width: 100%;
}
.section-1 .container{
    position: relative;
    max-width: 1780px;
    padding: 6.25rem 1rem;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 1rem;
}
.section-1 .container::after{
    width: 100%;
    max-width: 1748px;
    height: 100%;
    content: "";
    position: absolute;
    top: 0;
    background-image: url(../image/section1_bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.3;
    z-index: -1;
}


.section-1 .right{
    max-width: 660px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.section-1 .right .title-1{
    margin-bottom: 2.5rem;
}
.section-1 .right .title-2{
    margin-bottom: 5rem;
}
.section-1 .right figure img{
    margin-bottom: 1.5rem;
}
.section-1 .right p{
    letter-spacing: -0.025em;
    line-height: 170%;
    color: #4F4F4F;
}
    /* /section-1 */


    /* section-2 */
.section-2{
    width: 100%;
    margin-top: 6.25rem;
}
.section-2 .container{
    max-width: 1780px;
    margin: auto;
    position: relative;
}
.section-2-bg-1{
    width: 500px;
    height: 500px;
    background-image: url(../image/section2_Ellipse500.png);
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    top: 5%;
    right: 1rem;
    z-index: -1;
}
.section-2-bg-2{
    width: 900px;
    height: 900px;
    background-image: url(../image/section2_Ellipse900.png);
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    bottom: 0;
    left: -300px;
    z-index: -1;
}
.section-2-1{
    max-width: 1780px;
    padding: 6.25rem 1rem;
    margin: auto;
}
.section-2-1 h3{
    margin-bottom: 2.5rem;
    margin-left: 9rem;
}
.section-2-1 .contents{
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    gap: 1rem;
}
.section-2 h4{
    margin-bottom: 0.75rem;
}
.section-2 p{
    margin-bottom: 1.5rem;
    line-height: 170%;
    letter-spacing: -0.025em;
    width: 425px;
}
.section-2-1 .c-2{
    display: flex;
    gap: 16px;
}
.section-2 .img1{
    margin-bottom: 1.5rem;
}

.section-2-2 .contents{
    max-width: 1780px;
    padding: 6.25rem 1rem;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    gap: 1rem;
}
.section-2-2 .c-2{
    display: flex;
    gap: 16px;
}
.section-2 .img5{
    margin-bottom: 1.5rem;
}

    /* /section-2 */


    /* section-3 */
.section-3{
    width: 100%;
    margin-top: 6.25rem;
}
.section-3 .container{
    max-width: 1780px;
    padding-left: 1rem;
    padding-right: 1rem;
    margin: auto;
}
.section-3 .contents{
    margin-bottom: 2.5rem;
}
.section-3 .contents h3{
    margin-bottom: 5rem;
}
.section-3 h3{
    text-align: center;
}
.section-3 .button a{
    justify-content: center;
}
.section-3 .slide-box{
    display: flex;
}
.section-3 .box{
    position: relative;
    margin-right: 1rem;
}
.section-3 .box:nth-child(6){
    margin-right: 0;
}
.section-3 figure::after{
    width: 100%;
    height: 100%;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .2);
}
.section-3 h4{
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: #FFFFFF;
}
    /* /section-3 */


    /* banner */
.banner{
    width: 100%;
    margin-top: 12.5rem;
    position: relative;
    overflow: hidden;
}
.banner .container{
    max-width: 1780px;
    padding: 6.25rem 1rem;
    margin: auto;
    text-align: center;
}
.banner .container::after{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: "";
    background-image: url(../image/banner_1.png);
    background-size: contain;
    background-repeat: no-repeat;
    padding-bottom: 128%;
    z-index: -1;
}
.banner p{
    margin: 1.5rem 0;
    line-height: 170%;
    letter-spacing: -0.025em;
    font-weight: 500;
}
.banner .button{
    display: flex;
    gap: 0.4rem;
    justify-content: center;
    color: #111111;
    font-weight: 700;
}
    /* /banner */


    /* instagram */
.insta{
    width: 100%;
    margin-top: 12.5rem;
}
.insta .container{
    max-width: 1780px;
    margin: auto;
    padding-bottom: 12.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
}
.insta .title{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-bottom: 2.5rem;
}
.insta .title p{
    font-family: "Cormorant Infant", serif;
    font-weight: 500;
    font-size: 1.5rem;
}

.insta .item-box{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 1rem;
    align-items: center;
    justify-items: center;
}


.insta .item-icon{
    width: 48px;
    grid-column: 3 / 5;
}
.insta .item-5{
    grid-row: 2;
}
.insta .item-6{
    grid-column: 3;
}
.insta .item-8{
    grid-column: 6;
}
    /* /instagram */


    /* footer */
footer{
    width: 100%;
    margin-top: 6.25rem;
    border-top: 1px solid #2DA0FA;
}
footer .container{
    max-width: 1780px;
    padding: 6.25rem 1rem;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer .f-1{
    display: flex;
    gap: 1rem;
    margin-bottom: 2rem;
}
footer .f-1 h5{
    font-weight: 500;
    font-size: 1rem;
    letter-spacing: -0.025em;
    color: #111111;
}

footer .f-2{
    display: flex;
    gap: 2.5rem;
    margin-bottom: 2rem;
}
footer p{
    font-size: 0.75rem;
    letter-spacing: -0.025em;
    color: #767676;
    margin-bottom: 0.5rem;
}

footer .logo img{
    width: 40px;
}
    /* /footer */

